.button-class {
    padding-bottom: 2em;
    padding-top: 2em;
}

.border-image {
    padding: 2em;
    border: 1px solid gainsboro;
}

.progress {
    margin-bottom: 1em;
    max-width: 80%;
}

.img-preview,
.recorder-section,
.buttons {
    width: 100%;
}

.buttons button {
    margin-right: 1em;
}

.fileupload {
    margin-top: 1em;
}

.start-button,
.download-button {
    background-color: #7ffe9f;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.stop-button {
    background-color: rgba(118, 146, 254, 0.69);
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.cancel-button {
    background-color: #af7541;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.btn {
    margin-right: 5px;
}

button.disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
}

.img-preview {
    padding-top: 3em;
}

.img-preview .preview-title {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 3em;
}

.img-preview img {
    max-width: 100%;
    max-height: 215px;
}

.images-wrapper audio,
.images-wrapper .audio {
    max-width: 100%;
}

.images-wrapper .img {
    position: relative;
}

.images-wrapper a {
    height: 30px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    position: absolute;
    text-align: center;
    /* display: flex; */
    color: #000;
    padding-top: 2px;
}

.images-wrapper {
    padding: 1em;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

input {
    max-width: 100%;
}

button.btn.btn-primary.upload-btn {
    margin-bottom: 10px;
}

@media screen and (max-width:767px) {
    .img-preview img {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
}
